.home-section {
  text-align: center;
  padding-top: 70px;
}

.socials-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socials-list li {
  margin: 0 24px;
}

.socials-list li a {
  color: var(--text-color);
  font-size: 36px;
}

.socials-list li a:hover {
  color: var(--hover-color);
}

blockquote {
  border-radius: 25px;
  padding-bottom: 20px;

  margin: 0 auto; /* Center blockquote horizontally */
  max-width: 600px; /* Adjust max-width as needed */
}
